<div ng-app="facebookAddonApp">
  <div ng-controller="SteroidsFacebookAddonCtrl" class="content-padded">
    <h1>Facebook Addon</h1>

    <h2>Addon initialized: {{ ready }}</h2>

    <h2>Facebook login status: {{ loginStatus }}</h2>

    <div ng-show="!loginStatus">
      <div class="topcoat-button full center block" ng-click="facebookLogin()">Login to Facebook</div>
    </div>

    <div ng-show="loginStatus">
      <div class="topcoat-button full center block" ng-click="facebookLogout()">Logout from Facebook</div>
    </div>
  </div>
</div>