<div ng-app="urbanAirshipApp">
  <div ng-controller="SteroidsUrbanAirshipCtrl" class="content-padded">
  	<div ng-hide="addonsUndefined">
      <h1>Urban Airship Add-on</h1>
      
      <h3>Add-on initialized: {{ pluginready }}</h3>

      <h3>Push enabled: {{ pushenabled }}</h3>

      <h3>Device registration: {{ registration }}</h3>

      <h2>Push notifications:</h2>
      <ul>
        <li ng-repeat="notification in notifications">{{ notification.message }}</li>
      </ul>

      <h2>Incoming notifications:</h2>
      <ul>
        <li ng-repeat="notification in incoming">{{ notification.message }}</li>
      </ul>

    </div>
    
    <div ng-show="addonsUndefined">
      <h1 class="error">Error!</h1>
      <p>Uh oh! It seems like <code>steroids.addons.js</code> is not loaded. Ensure you have added it to your project according to the instructions at <a href="http://addons.appgyver.com">http://addons.appgyver.com</a>.</p>
    </div>
  </div>
</div>